<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BadgeStyle</key>
	<string>padding-bottom: 0px;font-family: Helvetica;font-weight: bold;font-size: 2px;color:rgba(255,255,255,0);text-shadow:rgba(255,255,255,0 0px 1px 0px;</string>
	<key>CalendarIconDateStyle</key>
	<string>color: rgba(255,255,255,1);padding-top: 12 ;padding-left: 0; font-size: 25px; font-weight: normal; font-family: HelveticaNeue-Thin;</string>
	<key>CalendarIconDayStyle</key>
	<string>color: rgba(255,255,255,0);padding-top: 6 ; font-size: 0px;</string>
</dict>
</plist>
